{% extends 'base_school.html' %}
{% load static %}

{% block head %}
<title>Parent Dashboard</title>
<link rel="stylesheet" href="{% static 'css/dashboard_parent.css' %}">
<script src="https://kit.fontawesome.com/fc6db7efeb.js" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="login form">
        <header>School Dashboard</header>
        <div id="tab-wrapper">
            <a href="{% url 'childRequests' %}"><div class="tab"><i class="fa-solid fa-person-circle-check"></i></div></a>
            <a href="{% url 'childRequests' %}"><div class="tab"><i class="fa-solid fa-people-group"></i></div></a>
        </div>
        <div id="child-wrapper">
            {% for child in children %}
                {% if child.is_approved %}
                <div class="child">
                    <div class="child-partition">
                        <div class="profile">
                            <img src="{% static 'images/profile.png' %}" alt="">
                            <p><strong>{{child.name}}</strong></p>
                        </div>
                        <div class="interact">
                            <div class="flag">• at school</div>
                            <button class="button">Pick</button>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="child">
                    <div class="child-partition">
                        <div class="profile">
                            <img src="{% static 'images/profile.png' %}" alt="">
                            <p><strong>{{child.name}}</strong></p>
                        </div>
                        <div class="interact">
                            <div class="flag">pending approval</div>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
{% endblock %}